<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to <%= @user.tenant.name %>, <%= @user.email %></h1>
    <p>
      An account has been created for you by <%= @user.tenant.name %>,
      your username is: <%= @user.email %>.<br>
    </p>
    <p>
      To login to the site, just follow this link: <%= @url %>.
    </p>
    <p>Have a great day!</p>
  </body>
</html>