<%= form_for @user do |f| %>
  <% if @user.errors.any? %>
    <div class="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-md-4">
        <div class="form-group">
        <%= f.label :email %>
        <%= f.email_field :email, :class => "form-control" %>
      </div>
    
      <div class="form-group">
        <%= f.label :password, "Password" %>
        <%= f.password_field :password, :class => "form-control"%>
      </div>
    
      <div class="form-group">
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, :class => "form-control" %>
      </div>
      
      <div class="form-group">
        <%= f.collection_select :tenant_id, Tenant.all, :id, :name, {:include_blank => 'Select Tenant'}, {:class => "form-control"} %>
      </div>
      
      <div class="checkbox">
        <%= f.label :admin, 'Administrator', :class => "checkbox inline"  %>
        <%= f.check_box :admin %>
      </div>
      <% if current_user.is_superuser? %>
        <div class="checkbox">
          <%= f.label :superuser, 'Super User', :class => "checkbox inline"  %>
          <%= f.check_box :superuser %>
        </div>
      <% end %>
    
      <%= render 'layouts/forms/submit', :f => f %>
    </div>
  </div>
<% end %>