<p>
    <h1><%= @project.name %> - <%= @project.client.name %></h1>
    
    <div class="revisionset">
        <header>
            <h2>Revision List</h2>
            <% if user_signed_in? %>
                <h4><%= link_to "Add Revision Set", new_revision_path(:project_id => @project) %></h4>
            <% end %>
        </header>
        <% @project.revisions.reverse_each do |revision| %>
            <div class="revision-container">
                <header>
                    <h3 ><%= revision.name %></h3>
                    <% if user_signed_in? %>
                        <div class="fr">
                            <%= link_to "Edit Name", edit_revision_path(revision, :project_id => @project)%>
                            <%= link_to "Delete", revision, method: :delete, data: { confirm: 'Are you sure?' } %>
                            <%= link_to "Add Screenshot", new_screenshot_path(:revision_id => revision) %>
                        </div>
                    <% end %>
                </header>
                <div class="revision-screenshots row">
                    <% revision.screenshots.each do |screenshot| %>
                        <div class="screenshot col-lg-2">
                            <h5><%= screenshot.name %></h5>
                            <%= link_to image_tag(screenshot.image_url(:thumb).to_s), screenshot.image_url(), {'data-lightbox' => "screenshot-" + screenshot.id.to_s } %>
                        </div>
                    <% end %>
                </div>
            </div>
        <% end %>
    </div>
</p>
