<%= render partial: 'global/forms/modal_header', locals: {:title => "Add New Screenshot"} %>
<%= form_for(@screenshot, :html => {:class => "form-horizontal", :role => "form", 'data-update-target' => 'update-container', :multipart => true }) do |f| %> 

<div class="modal-body update-container">
  <div id="form-errors">
    <%= modal_flash(@screenshot, "screenshot") %>
  </div>  
  <%= render "global/flash" %>
  
  <%= f.hidden_field :revision_id, :value => params[:revision_id] %>

  <div class="form-group">  
    <%= f.label :name, :class => "col-lg-3 control-label" %>
    <div class="col-lg-9">
      <%= f.text_field :name, :class => "form-control", :autofocus => true %>
    </div>
  </div>
  
  <div class="form-group">
	  <%= f.label :image, 'Upload Image', :class => "col-lg-3 control-label" %>
	  <div class="col-lg-9">
		<div class="input-group">
			<span class="input-group-btn">
	  			<span class="btn btn-primary btn-file">
					Select File...<%= f.file_field :image %>
				</span>
			</span>
			<input class="form-control" type="text" readonly="">
			</div>
	  </div>
  </div>
</div>
  
<%= render partial: "global/forms/modal_footer", locals: { :f => f } %>
<% end %>
