<!DOCTYPE html>
<html>
<head>
  <title>ProjectManager</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
</head>
<body>

<%= render 'layouts/navigation/navbar' %>
<div class="container">
  <%= render "global/flash" %>
  <div id="content-holder">
    <%= yield %>
  </div>
</div>
<%= yield :scripts %>
<div id="modal-window" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div id="modal-form-content" class="modal-content">
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /#modal-window -->
</body>
</html>
